<div>
      <h2>/api/products para ver los productos</h2>
      <h2>/api/products?=limit(numero) para relizar un limite de productos</h2>
      <h2>/api/products/(numero) para encontrar un producto por su Id</h2>
      <h2>/api/carts/(Id del carrito) para encontrar el carrito con su Id</h2>
      <h2>http://localhost:8080/realtimeproducts para ver el formulario para agregar o eliminar un producto</h2>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>