.product {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      background-color: #f9f9f9;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .product h2 {
      font-size: 18px;
      color: #333;
      margin-top: 0;
    }
    
    .product p {
      font-size: 14px;
      margin: 5px 0;
    }
    
    .boton-carrito {
      padding: 5px 10px; /* Ajusta el tamaño del padding para modificar el tamaño del botón */
      font-size: 0.6rem; /* Modifica el tamaño del texto dentro del botón */
  }